.container{
    width:60%;
}
.tit{
    text-align: center;
    font-size: larger;
        
}
caption{
    background-color: rgb(103, 182, 206);
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}
th , td{
    max-width: 2px;
}       
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    font-family: sans-serif;
    font-size: .5rem;
    color:olive;  
}
tr{
    max-height : 2px;
}
th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* th,td{
    border:black solid 1px;
    
} */
